.block-container {
    display: inline-flex;
    width: 1000px;
    height: 320px;
    margin-left: 0;
}

.first-row {
    display: inline-block;
}

.private-container {
    left: calc((20% - 20px + 10px) * 4);
    width: calc((20% - 10px) * 1 + 100px);
    top: 5px;
    height: calc(840px);
}
