.dashboard-container {
    width: 100%;
    display: block;
    height: 100%;
}
.component-container{
    width: 100%;
    display: block;
    height: 100%;
}

// .mat-grid-tile .mat-figure .component-container-greet{
//         width: calc((20% - 4px) * 4 + 15px);
//         height: calc(100px);
// }

// .private-container {
//     left: calc((20% - 20px + 10px) * 4);
//     width: calc((20% - 10px) * 1 + 100px);
//     top: 5px;
//     height: calc(100);
// }
