<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="push">
        <mat-toolbar>
            <div>
                <a>GMFCTN!</a>
            </div>

            <div> <button mat-button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
        </mat-toolbar>
        <div class="sidebar-content-to-center">
            <app-left-sidebar></app-left-sidebar>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar>
            <div>
                <button mat-button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <a style="color: white">GMFCTN!</a>
            </div>

            <nav mat-tab-nav-bar>
                <div class="navigationCenter">
                    <a class="active" mat-tab-link *ngFor="let route of routers" (click)="activeLink = route"
                        [active]="activeLink == route" routerLink={{route.link}} routerLinkActive="active">
                        {{route.name}}
                    </a>
                </div>
            </nav>

            <div>
                <div class="right-sidebar">
                    <a>
                        <div class="circle" [ngStyle]="{'background-color': user.color}">
                            <img *ngIf="user.photoUrl" src={{user.photoUrl}}>

                            <div *ngIf="!user.photoUrl" class="initials">
                                {{user | initials}}
                            </div>
                        </div>

                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            {{user.firstName}} {{user.lastName}}
                            <mat-icon>arrow_drop_down</mat-icon>
                        </button>
                    </a>
                </div>

                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="editProfile()">
                        <span>Edit profile</span>
                    </button>

                    <button mat-menu-item>
                        <span>Change password</span>
                    </button>

                    <button mat-menu-item>
                        <span>Log out</span>
                    </button>
                </mat-menu>
            </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>