<mat-card class="challenges-container">
    <div class="header">
        <span class="top-title text-uppercase">
            exoft achievement
        </span>
        <mat-chip class="summary-chip">
            80 XP
        </mat-chip>
    </div>


    <div>
        <div class="user-block" *ngFor="let user of userService.users">
            <div class="user-info">
                <div class="circle">
                    <img *ngIf="user.photoUrl" src={{user.photoUrl}}>

                    <div *ngIf="!user.photoUrl" class="initials">
                        {{user | initials}}
                    </div>
                </div>
                <span class="user-name">
                    {{user.firstName}} {{user.lastName}}
                </span>

                <span class="time-ago">
                    0 mins ago
                </span>

            </div>

            <div class="achiv-info">
                <span class='achivment'>
                    Got achievement Exoft turbo power
                </span>
                <mat-chip class="records">Records</mat-chip>
            </div>
        </div>
    </div>
</mat-card>