<mat-card class="top-chart-container">
    <div>
        <span class="top-chart-text">TOP CHART</span>
    </div>
    <div class="info">
        <span style="margin-left: 35px;">
            Name
        </span>
        <span style="margin-left: 130px;">
            Total XP
        </span>
        <div class="line"></div>
    </div>

    <mat-list class="display-chart">
        <table class="leveling">
            <tr *ngFor="let user of userWithAchiv">
                <td class="leveling">
                    <div class="circle" [ngStyle]="{'background-color': user.color}">
                        <img *ngIf="user.photoUrl" src={{user.photoUrl}}>

                        <div *ngIf="!user.photoUrl" class="initials">
                            {{user | initials}}
                        </div>
                    </div>
                </td>
                <td>
                    <span style="margin-left: 25px;"> {{user.firstName}}</span>
                    <br>
                    <span style="margin-left: 25px;">{{user.lastName}}</span>
                </td>
                <td>
                    <span style="margin-left: 50px;">{{user.XP}} </span>
                </td>
                <td class="leveling">
                    <div class="bar" [style.background-color]="user.color" [style.width]='user.size'> </div>
                </td>
            </tr>
        </table>
    </mat-list>
</mat-card>