
ProjectBackEnd/Gamification/.vs/Gamification/v16/.suo
ProjectBackEnd/Gamification/.vs/Gamification/v16/.suo
ProjectBackEnd/Gamification/.vs/Gamification/v16/.suo
ProjectBackEnd/Gamification/Gamification/obj/Debug/net5.0/Gamification.csprojAssemblyReference.cache
