.exoft-echievements-container {
    background-color: #424750;
    height: 790px;
    width: 310px;
    font-size: 15px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin-top: 15px;
}

.top-text {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: white;
    font-weight: 550;
}