.greeting-container {
    background-color: #5ea002;
    height: 100px;
    width: 1300px;
    color: white;
    font-size: 20px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin-right: 7px;
}
.all-greet {
    margin-left: 60px;
}
.main-greeting {
    font-size: 40px;
    height: 50px;
    width: 100%;
    display: flex;
}
.take-a-look {
    margin-bottom: 5px;
    display: flex;
    height: 30px;
    width: auto;
    font-size: 23px;
}
.greet-important {
    font-weight: 700;
}
.mat-card > :first-child,
.mat-card-content > :first-child {
    margin-top: 20px;
}
