.greeting-container {
    background-color: #5ea002;
    color: white;
    font-size: 20px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100%;
    width: 100%;

    .all-greet {
        margin-left: 60px;

        .main-greeting {
            font-size: 40px;
            height: 50px;
            width: 100%;
            display: flex;
        }

        .take-a-look {
            display: flex;
            height: 30px;
            width: 100%;
            font-size: 23px;
        }
    }
}

.greet-important {
    font-weight: 700;
}

.mat-card > :first-child,
.mat-card-content > :first-child {
    margin-top: 20px;
}
