<mat-card class="sign-in-container">
  <div class=context>
    <div class="body">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="USERNAME" [(ngModel)]="username" name="username" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="PASSWORD" [(ngModel)]="password" type="password" name="password" required>
        </mat-form-field>
      </form>
    </div>

    <div class="forgot-password-button">
      <button class="btn text-uppercase" mat-button>
        <span>forgot password?</span>
      </button>
    </div>

    <div class="sign-in-button">
      <button class="btn text-uppercase" mat-button>
        sign in
      </button>
    </div>

    <img class="exoft-logo-image" src="./../../../../assets/exoft-logo-image.png">
  </div>
</mat-card>