.badges-container {
    background-color: #424750;
    font-size: 15px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100%;
    width: 100%;
}
.badges-text-title {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: white;
    font-weight: 550;
    margin: 15px;
}
.badges-count-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;

    .badges-count-number {
        font-size: 150px;
        font-family: Roboto, "Helvetica Neue", sans-serif;
        padding: 10px;
        color: #5ea002;
    }
}
.badges-text-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;

    .badges-text {
        font-size: 25px;
        display: flex;
        flex-direction: row;
        color: white;
    }
}

.badges-summary-text {
    color: white;
    font-size: 11px;
}
.badges-summary-container {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    font-size: 10px;
    justify-content: center;
}

mat-icon {
    font-size: 5px;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    margin: 3px;
    color: #5ea002;
    margin: 8px;
}
