<div class="sidebar-content">
    <div>
        <div class="circle">
            <img *ngIf="userService.users[0].photoUrl" src={{userService.users[0].photoUrl}}>

            <div *ngIf="!userService.users[0].photoUrl" class="initials">
                {{userService.users[0] | initials}}
            </div>
        </div>

        <div>
            <div class="user-name">{{userService.users[0].firstName}} {{userService.users[0].lastName}}</div>

            <div class="sidebar-button-column">
                <button mat-raised-button (click)="editProfile()">Edit profile</button>
            </div>

            <div class="sidebar-button-column">
                <button mat-raised-button>Change password</button>
            </div>

            <div class="sidebar-button-column">
                <button mat-raised-button>Log out</button>
            </div>
        </div>

        <div>
            <div class="left-sidebar-sumary">
                <span class="left-sidebar-sumary-white"><a
                        class="left-sidebar-sumary-green">Total:</a>{{userService.users[0].badges}}
                    Bages
                </span>
            </div>

            <div class="left-sidebar-sumary">
                <span class="left-sidebar-sumary-white"><a
                        class="left-sidebar-sumary-green">EXP:</a>{{userService.users[0].exp}}
                    XP
                </span>
            </div>
        </div>
        
        <mat-sidenav-container class="sidebar-container">
            <nav mat-tab-nav-bar>
                <div class="left-sidebar-nav">
                    <a class="active" mat-tab-link mat-align-tabs="center" *ngFor="let link of links"
                        (click)="activeLink = link" [active]="activeLink == link">
                        {{link}}
                    </a>
                </div>
            </nav>
        </mat-sidenav-container>
    </div>
</div>