.sidebar-content{
    height: 100%;
}

.circle {
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .initials {
        color: white;
        font-size: 100px;
        line-height: 19px;
        letter-spacing: 0.2625px;
    }
}

.user-name {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-weight: 300;
}

.sidebar-button-column {
    margin: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.mat-raised-button {
    background-color: rgb(41, 173, 41);
    color: white;
}

.left-sidebar-sumary {
    display: flex;
    justify-content: center;
}

.left-sidebar-sumary-green {
    color: rgb(41, 173, 41);
}

.left-sidebar-sumary-white {
    color: white;
}

.left-sidebar-nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.sidebar-container {
    background-color: #323232;
}

.sidebar-container .mat-tab-label-active {
    border-bottom: 5px solid rgb(41, 173, 41);
    color: rgb(41, 173, 41);
}

.sidebar-container .mat-tab-link {
    color: white;
    margin: 2px;
}
