// .challenges-container {
//     background-color: #424750;
//     font-size: 15px;
//     font-family: Roboto, "Helvetica Neue", sans-serif;
//     width: 100%;
//     height: 100%;
//     overflow: scroll;
//     overflow-x: hidden;

//     .top-text {
//         margin-top: 5px;
//         display: flex;
//         justify-content: space-between;
//         flex-direction: row;
//         color: white;
//         font-weight: 550;
//     }
// }

// .body {
//     display: flex;
//     flex-wrap: wrap;
//     margin-left: 4px;
//     padding: 10px 0 10px 10px;
//     flex-direction: column;
//     overflow-y: scroll;
// }

// .available-block-container {
//     display: flex;
//     flex-direction: column;
//     position: relative;

//     .available-content{
//         border-left: 2px solid grey;
//         margin-left: 4px;
//         padding: 0px 0 10px 10px;

//         .image{
//             width: 150px;
//             height: 100px;
//         }
//     }
// }
// .ended-block-container{
//     display: flex;
//   flex-direction: column;
//   position: relative;

//     .ended-content{
//         border-left: 2px solid grey;
//         margin-left: 4px;
//         padding: 0px 0 10px 10px;

//         .ended-img {
//             display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   margin-left: 4px;
//   border-left: 2px solid grey;
//   padding: 10px 0 10px 10px;
//             .image {
//                 left: 0;
//                 top: 0;
//                 width: 100px;
//                 height: 100px;
//             }
//             .image-text {
//                 z-index: 1;
//                 position: absolute;
//                 color: white;
//                 font-size: 15px;
//                 font-weight: bold;
//                 display: flex;
//                 flex-direction: row;
//                 flex-wrap: wrap;
//                 padding: 70px 0 10px 10px;
//             }
//         }
//     }
// }

.challenges-container {
    background-color: #424750;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
}

.header {
    background-color: #424750;
    font-size: 15px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    .top-title {
        margin-top: 5px;
        color: white;
        font-weight: 550;
    }
    .top-button {
        background-color: #5ea002;
        color: white;
        display: flex;
        align-items: center;
        height: 30px;
    }
}

.events {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 4px;
    border-left: 2px solid grey;
    padding: 10px 0 10px 10px;
}

.available-block {
    display: flex;
    flex-direction: column;
    position: relative;
    .image {
        width: 150px;
        height: 100px;
    }
}

.finished-block {
    display: flex;
    flex-direction: column;
    position: relative;
    .image {
        width: 100px;
        height: 100px;
    }
}

.block-title {
    color: var(--primary-color);
    margin-left: 4px;
    border-left: 2px solid grey;
    padding-left: 14px;
    font-size: 18px;
}
.available-block::before {
    content: "";
    white-space: pre;
    display: inline-block;
    width: 10px;
    height: 10px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-color: #5ea002;
    position: absolute;
}
.finished-block::before {
    content: "";
    white-space: pre;
    display: inline-block;
    width: 10px;
    height: 10px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-color: #5ea002;
    position: absolute;
}



::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: grey;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}
.ng-star-inserted {
    height: 100px;
    margin: 4px;
}
