<!-- <mat-card class="challenges-container">
    <div class="top-text">
        <span>CHALLENGES</span>
    </div>
    <div class="body">
        <div class="available-block-container">
            <div class="available-content">
                <span>Evailable</span>
                <div class="available-img">
                    <img class="image" src='./../../../../assets/books.jpg' />
                </div>
            </div>

        </div>

        <div class="ended-block-container">
            <div class="ended-content">
            <span class="title">Ended</span>

            <div class="ended-img" *ngFor='let img of images'>
                <img class="image" [src]="img.url">
                <span class="image-text">5k Code</span>
            </div>
        </div>
        </div>
    </div>
</mat-card> -->
<mat-card class="challenges-container">
    
    <div class="header">
      <span class="top-title">PERSONAL ACHIEVEMENTS</span>
      <a mat-button class="top-button">Show more</a>
    </div>
  
    <div class="challenges-body">
      <div class="available-block">
        <span class="block-title">Available</span>
        <div class="events">
          <div class="event" >
            <img src="./../../../../assets/books.jpg" class="image" />
          </div>
        </div>
      </div>
  
      <div class="finished-block">
        <span class="block-title">Finished</span>
        <div class="events">
          <div class="event" *ngFor="let image of images">
            <img [src]="image.url" class="image" />
          </div>
        </div>
      </div>
    </div>
</mat-card>