.full-list-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
}

.header {
    background-color: #424750;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .top-title {
        margin-top: 5px;
        color: white;
        font-weight: 300;
        font-size: 25px;
    }
}

.table-body {
    padding-top: 20px;

    .table-title {
        font-size: 18px;

        .date-title {
            margin-left: 10px;
        }
    }

    .achiev-info {
        display: flex;
        align-items: center;

        .circle {
            border-radius: 50%;
            width: 50px;
            height: 50px;
            padding: 10px;

            img {
                border-radius: 50%;
                width: 40px;
                height: 40px;
            }
        }
    }

    .text {
        color: white;
    }

    .xp-info {
        margin-left: 20px;
    }

    .text {
        color: white;
    }
}

th {
    display: table-cell;
    vertical-align: inherit;
}

::-webkit-scrollbar {
    width: 5px;
    position: fixed;
}

::-webkit-scrollbar-track {
    background: grey;
}

::-webkit-scrollbar-thumb {
    background: #5ea002;
}
