<div class="other-user-container">
    <div class="close-button">
        <button mat-button (click)="onNoClick()">
            <span class="material-icons">
                close
            </span>
        </button>
    </div>

    <div class="body">
        <div class="user-info">
            <div class="circle">
                <img *ngIf="userServiceService.users[0].photoUrl" src={{userServiceService.users[0].photoUrl}}>

                <div *ngIf="!userServiceService.users[0].photoUrl" class="initials">
                    {{userServiceService.users[0] | initials}}
                </div>
            </div>

            <div class="user-name">
                {{userServiceService.users[0].firstName}} 
                {{userServiceService.users[0].lastName}}
            </div>

            <div class="user-exp">
                <span class="exp">
                    EXP:
                </span>
                {{userServiceService.users[0].exp}}
            </div>
        </div>

        <div class="achievement-list">
            <div class="achiv-info"
                *ngFor="let achievement of achievementServiceService.achievements| slice:0:4; let i=index">
                <img *ngIf="i<6" class="achiv-img" [src]="achievement.photoUrl">

                <div *ngIf="i<6" class="achiv-name">
                    {{achievement.name}}
                </div>
            </div>
        </div>
    </div>

    <div class="say-thanks-button">
        <button class="btn text-uppercase" mat-button>
            say thanks
        </button>
    </div>
</div>