// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$front-end-Project-primary: mat-palette($mat-indigo);
$front-end-Project-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$front-end-Project-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$front-end-Project-theme: mat-light-theme(
  (
    color: (
      primary: $front-end-Project-primary,
      accent: $front-end-Project-accent,
      warn: $front-end-Project-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($front-end-Project-theme);

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$front-end-Project-primary: mat-palette($mat-indigo);
$front-end-Project-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$front-end-Project-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$front-end-Project-theme: mat-light-theme(
  (
    color: (
      primary: $front-end-Project-primary,
      accent: $front-end-Project-accent,
      warn: $front-end-Project-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($front-end-Project-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.component-container {
  background-color: #424750;
  font-size: 15px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-uppercase {
  text-transform: uppercase;
  font-size: 14px;
}

//------------------------------request achievement modal window------------
.request-model-container .mat-dialog-container {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #534f4f;
  color: white;
  border-radius: 20px;
}

.request-model-container .mat-select-panel {
  background-color: gray;
}

.request-model-container .mat-select {
  display: inline-block;
  width: 100%;
  border-bottom: 2px solid white;
}

.request-model-container .mat-option-text {
  color: white;
}

.request-model-container .mat-select-value {
  color: white;
}

.request-model-container .mat-form-field-underline {
  width: 0%;
  height: 0%;
  display: none;
}

.request-model-container .mat-form-field {
  width: 100%;
  margin: 20px;
}

.request-model-container .mat-select-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid;
  margin: 0 4px;
  color: white;
}

.request-model-container .mat-form-field-appearance-legacy .mat-form-field-label {
  transform: perspective(100px);
  color: white;
  -ms-transform: none;
  cursor: none;
}

.request-model-container .mat-form-field-appearance-legacy .mat-form-field-subscript-wrapper {
  border-bottom: 1px solid white;
}

//------------------------------say thanks modal window------------
.say-thanks-container .mat-dialog-container {
  display: block;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  width: 100%;
  height: 100%;
  min-height: inherit;
  max-height: inherit;
  padding: 0px;
  margin: 0px;
  background-color: #534f4f;
  border-radius: 20px;
}

