.sidebar-content {
    height: 100%;
}

.circle {
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10%;
    
    img {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .initials {
        color: white;
        font-size: 100px;
        line-height: 19px;
        letter-spacing: 0.2625px;
    }
}

.user-name {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    margin: 2%;
    padding: 5%;
    width: 100%;
}

.sidebar-button-column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5%;
    width: 100%;
    height: 100%;
}

.mat-raised-button {
    background-color: #5ea002;
    color: white;
}

.left-sidebar-sumary {
    display: flex;
    justify-content: center;
    padding: 7%;
    width: 100%;
    height: 100%;
}

.left-sidebar-sumary-green {
    color: #5ea002;
}

.left-sidebar-sumary-white {
    color: white;
}

.left-sidebar-nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 5%;
}

.sidebar-container {
    background-color: #323232;
}

.sidebar-container .mat-tab-label-active {
    border-bottom: 5px solid #5ea002;
    color: #5ea002;
}

.sidebar-container .mat-tab-link {
    color: white;
    margin: 2px;
}
