<div class="request-container">
  <div class="close-button">
    <button mat-button (click)="onNoClick()">
      <span class="material-icons">
        close
      </span>
    </button>
  </div>

  <span mat-dialog-title>
    Please, leave a message and your achievement will be assigned soon
  </span>
  
  <form [formGroup]="requestForm" class="body-request">
    <mat-select [(value)]="selectAchievement" id="achievement" formControlName="achievement">
      <mat-option *ngFor="let item of [].constructor(3)" [value]="selectAchievement">
        {{selectAchievement}}
      </mat-option>
    </mat-select>

    <mat-form-field class="example-full-width">
      <mat-label>Your message</mat-label>
      <textarea matInput id="message" formControlName="message"></textarea>
    </mat-form-field>

    <button class="send-button send" mat-button (click)="send()" [disabled]="requestForm.invalid">
      Send
    </button>
  </form>
</div>