.badges-container{
    background-color: #424750;
    height: 330px;
    width: 350px;
    margin: 5px;
    font-size: 15px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
}

.badges-text-top{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: white;
    font-weight: 550;
    margin:15px;
}

.badges-count{
    font-size: 150px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    color: #5ea002;
}

.badges-text{
    font-size: 25px;
    display: flex;
    flex-direction: row;
    color: white;
    margin: 15px;
    justify-content: center;
}
.badges-count-container{
    margin-top: 60px;
}

.badges-text-container{
    position: fixed;
    bottom: 0;
    width: 22%;
    display: flex;
    justify-content: center;
}

.badges-summary-text{
color: white;
font-size: 12px;
}
.badges-summary-container{
    position: fixed;
    bottom: 0;
    width: 22%;
    display: flex;
    justify-content: center;
}
mat-icon{
    font-size: 5px;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    margin: 3px;
    color:#5ea002;
    margin: 8px;
}