<div>
    <div class="circle" [ngStyle]="{'background-color': circleColor}">
        <img *ngIf="!showInitials" src={{user.photoUrl}}>

        <div *ngIf="showInitials" class="initials">
            {{initials}}
        </div>
    </div>
    <!-- <div>
        <span>{{user.name}}</span>
    </div> -->

    <div>
        <div class="user-name">{{user.name}}</div>
        <div class="sidebar-button-column">
            <button mat-raised-button>Edit profile</button>
        </div>
        <div class="sidebar-button-column">
            <button mat-raised-button>Change password</button>
        </div>
        <div class="sidebar-button-column">
            <button mat-raised-button>Log out</button>
        </div>
    </div>

    <div>
        <div class="left-sidebar-sumary">
            <span class="left-sidebar-sumary-white"><a class="left-sidebar-sumary-green">Total:</a>{{user.badges}}
                Bages</span>
        </div>
        <div class="left-sidebar-sumary">
            <span class="left-sidebar-sumary-white"><a class="left-sidebar-sumary-green">EXP:</a>{{user.exp}} XP</span>
        </div>
    </div>
    <mat-sidenav-container class="sidebar-container">
            <nav mat-tab-nav-bar>
                <div class="left-sidebar-nav">

                    <a class="active" mat-tab-link mat-align-tabs="center" *ngFor="let link of links"
                        (click)="activeLink = link" [active]="activeLink == link">
                        {{link}}
                    </a>

                </div>
            </nav>
    </mat-sidenav-container>
</div>