<mat-card class="app-personal-achievements-container">
    <div class="request-button">
        <span class="text-uppercase">
            last achievements
        </span>

        <button mat-raised-button (click)="request()">
            Request
        </button>
    </div>

    <mat-list class="display-achiv-container" *ngFor="let achievement of achievementService.achievements | slice:0:4">
        <mat-list-item>
            <img matListAvata class="circle" [src]="achievement.photoUrl">

            <div class="display-achiv-info">
                <div>
                    <span matLine>
                        {{achievement.name}}
                    </span>

                    <span>
                        0 mins ago
                    </span>
                </div>
            </div>
        </mat-list-item>

        <mat-list-item>
            <div>
                <span class="xp-points">
                    &#11044; {{achievement.exp}}
                </span>
            </div>
        </mat-list-item>
    </mat-list>
</mat-card>