<mat-card class="app-personal-echievements-container">
  <div class="request-button">
    <span>PERSONAL ECHIEVEMENTS</span>
    <button mat-raised-button>Request</button>
  </div>
  <mat-list>
    <table>
      <tr class="display-echiv">
        <td><img class="circle" src="https://i.pinimg.com/474x/e1/bd/f9/e1bdf9ec46ab4e467bb30add09b63a2a.jpg"></td>
        <td>Exoft turbo power
          <br>0 min ago
        </td>
        <td class="xp-points">
          <mat-icon>stop_circle</mat-icon>+15 xp
        </td>
      </tr>
      <tr class="display-echiv">
        <td><img class="circle" src="https://i.pinimg.com/474x/b0/f3/2b/b0f32bf8d25f8a8f7d2b065b694d89ee.jpg"></td>
        <td>Exoft turbo power
          <br>0 min ago
        </td>
        <td class="xp-points">
          <mat-icon>stop_circle</mat-icon>+15 xp
        </td>
      </tr>

      <tr class="display-echiv">
        <td><img class="circle" src="https://i.pinimg.com/474x/61/aa/43/61aa4376604de66b5eb8af9020c2ea99.jpg"></td>
        <td style="margin-left:20px ;">Exoft corporate power
          <br>0 min ago
        </td>
        <td class="xp-points">
          <mat-icon>stop_circle</mat-icon>+15 xp
        </td>
      </tr>

      <tr class="display-echiv">
        <td><img class="circle" src="https://i.pinimg.com/474x/0a/85/5c/0a855c7da675bf40a44dda26dbeac8e3.jpg"></td>
        <td style="margin-left:3px ;">Exoft skylark power
          <br>0 min ago
        </td>
        <td class="xp-points">
          <mat-icon>stop_circle</mat-icon>+15 xp
        </td>
      </tr>

    </table>
  </mat-list>
</mat-card>