.app-personal-echievements-container{
    background-color: #424750;
    height: 330px;
    width: 330px;
    margin: 5px;
    font-size: 15px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
}

.request-button{
    margin-top: 5px;
    // display: flex;
    // justify-content: flex-end;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: white;
    font-weight: 550;
}

.mat-card>:first-child, .mat-card-content>:first-child {
    margin-top: 5px;
}

.mat-raised-button{
    background-color: #5ea002;
    color: white;
}

.circle{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }

    .initials{
        color:  white;
        font-size: 20px;
        line-height: 19px;
        letter-spacing: 0.2625px;
    }
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
    display: block;
    height: 48px;
    width: 100%;
    padding: 8px;
}
.display-echiv{
    height: 45px;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    justify-content: space-between;
    display: flex;
    color: white;
    -webkit-tap-highlight-color: transparent;
}

.xp-points{
    color: #d69812;
    font-size: 15px;
    flex-direction: row;
    font-weight: 600;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}
mat-icon{
    font-size: 15px;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    margin: 3px;
}
span{
    margin: 7px;
}

