<mat-card class="thank-you-container">
    <div class="thank-you-title">
        <span class="text-uppercase">thank you</span>
    </div>

    <div class="star-content">
        <img class="star" src="./../../../../assets/star-big-image.png"> <br>
        <div>
            <span>
                Hey hey hey. Thank you for your help!!!
            </span>
        </div>
    </div>

    <div class="user">
        <button mat-button (click)="sayThanks()">
            <div class="circle">
                <img *ngIf="userServiceService.users[1].photoUrl" src={{userServiceService.users[1].photoUrl}}>

                <div *ngIf="!userServiceService.users[1].photoUrl" class="initials">
                    {{userServiceService.users[1] | initials}}
                </div>
            </div>
        </button>

        <div class="user-name">
            {{userServiceService.users[1].firstName}}
            {{userServiceService.users[1].lastName}}
        </div>
    </div>
</mat-card>