<mat-card class="thank-you-container">
    <div class="thank-you-title">
        <span>THANK YOU</span>
    </div>

    <div class="star-content">
        <img class="star" src="./../../../../assets/star-big-image.png">
        <br>
        <div><span>Hey hey hey. Thank you for your help!!!</span></div>
    </div>

    <div class="user">
        <button mat-button (click)="sayThanks()">
            <div class="circle" [ngStyle]="{'background-color': user.color}">
                <img *ngIf="user.photoUrl" src={{user.photoUrl}}>

                <div *ngIf="!user.photoUrl" class="initials">
                    {{user | initials}}
                </div>
            </div>
        </button>
        <div class="user-name">{{user.firstName}} {{user.lastName}}</div>
    </div>
</mat-card>