.thank-you-container {
    background-color: #424750;
    font-size: 15px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100%;
    width: 100%;

    .thank-you-title {
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        color: white;
        font-weight: 550;
    }
}

.circle {
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;

    img {
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }

    .initials {
        color: white;
        font-size: 15px;
        line-height: 19px;
        letter-spacing: 0.2625px;
    }
}

.star-content {
    width: 100%;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    .star {
        width: 130px;
        height: 130px;
        display: flex;
        align-items: center;
    }
}

.user {
    display: flex;
    justify-content: center;
    margin: 15px;

    .user-name {
        display: flex;
        justify-content: center;
        margin: 15px;
        color: #5ea002;
    }
}

.ng-star-inserted{
    display: flex;
    flex-direction: column;
    align-items: center;
}
