.top-chart-container {
    background-color: #424750;
    width: 100%;
    height: 100%;
    font-size: 15px;
    font-family: Roboto, "Helvetica Neue", sans-serif;

    .top-chart-text {
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        color: white;
        font-weight: 550;
    }

    .info-title {
        color: #5ea002;

        .total-title {
            margin-left: 130px;
        }

        .name-title {
            margin-left: 35px;
        }

        .line {
            background-color: #5ea002;
            width: 45%;
            height: 1px;
            margin-top: 5px;
            margin-bottom: 15px;
        }
    }
}

$Largura-Barra: 80px;
$MaxWidth: 10px;

.bar {
    width: $MaxWidth;
    min-height: 1px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    justify-content: space-between;
    padding: 10px;
    color: white;
    margin-left: 100px;
}

.display-chart {
    font-size: 13px;
    justify-content: space-between;
    display: flex;
    color: white;

    .circle {
        border-radius: 50%;
        border: 1px solid rgb(255, 255, 255);
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            border-radius: 50%;
            width: 30px;
            height: 30px;
        }

        .initials {
            color: white;
            font-size: 15px;
            line-height: 19px;
            letter-spacing: 0.2625px;
        }
    }

    .leveling {
        .user-name {
            margin-left: 25px;
        }
        .user-xp {
            margin-left: 50px;
        }
    }
}
