<mat-card class="top-chart-container">
    <div>
        <span class="top-chart-text">TOP CHART</span>
    </div>
    <div class="info">
        <span   style="margin-left: 35px;">
            Name
        </span>
        <span  style="margin-left: 130px;">
            Total XP
        </span>
        <div class="line"></div>
    </div>
 
    <mat-list class="display-chart">
        <table class="leveling">
            <tr *ngFor="let item of UserEchiv">
                <td class="leveling">
                    <div class="circle" [ngStyle]="{'background-color': circleColor}">
                        <img *ngIf="!showInitials" src={{user.photoUrl}}>

                        <div *ngIf="showInitials" class="initials">
                            {{initials}}
                        </div>
                    </div>
                </td>
                <td >
                   <span  style="margin-left: 25px;"> {{item.firstName}}</span> 
                   <br>
                   <span  style="margin-left: 25px;">{{item.lastName}}</span>
                </td>
                <td>
                   <span style="margin-left: 50px;">{{item.XP}}  </span> 
                </td>
                <td class="leveling">
                    <div class="bar" [style.background-color]="item.Color" [style.width]='item.Size'> </div>
                </td>
            </tr>
        </table>
  </mat-list>
  </mat-card>