.top-chart-container{
    background-color: #424750;
    height: 330px;
    width: 520px;
    margin: 5px;
    font-size: 15px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
}

.top-chart-text{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: white;
    font-weight: 550;
}

$Largura-Barra: 60px;
$MaxWidth: 160px;

.grafico .content{
    display: flex;
    flex-direction: column;
    width: 200px;
    justify-content: flex-start;
    height: 250px;
}

.grafico .content span{
    font-family: 'Roboto';
    font-size: 13px;
    color: #707070;
}

.grafico .line{
    background-color: #CCCCCC;
    width: 100%;
    height: 1px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.grafico .legends{
    display: flex;
    flex-direction: row;
    color: #707070;
    font-family: 'Roboto';
    font-size: 12px;
    text-align: center;
}

.grafico .legends span{
    width: $Largura-Barra;
    margin:0 15px;
}

.grafico .bars{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

.grafico .bar{
    width: $Largura-Barra;
    min-height: 2px;
    margin:0 15px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.grafico .bar:hover{
    transform: translateY(-1px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.20);
}