<mat-card class="top-chart-container">
    <div>
        <span class="top-chart-text">TOP CHART</span>
    </div>
    <div class="grafico">
        <div class="content">

            <div class="bars" *ngFor="let item of Animals">
                <table>
                    <tr>
                        <td>
                            icon
                        </td>
                        <td>
                            {{item.firstName}}<br>{{item.lastName}}
                        </td>
                        <td>
                            {{item.XP}}
                        </td>
                        <td>
                <div class="bar" [style.background-color]="item.Color" [style.width]='item.Size'></div>
                        </td>
                    </tr>
                </table>
                <!-- <div>{{item.FirstName}}</div>
                <span>{{item.XP}}</span>
                <div class="bar" [style.background-color]="item.Color" [style.width]='item.Size'></div> -->
            </div>
        </div>
       
    </div>

</mat-card>
