.exoft-echievements-container {
    background-color: #424750;
    height: 790px;
    width: 310px;
    margin: 5px;
    font-size: 15px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
}