<div class="thanks-container">
    <div class="close-button">
        <button mat-button (click)="onNoClick()">
            <span class="material-icons">
                close
            </span>
        </button>
    </div>
    <div class="body">
        <div class="user-info">
            <div class="circle">
                <img *ngIf="userService.users[1].photoUrl" src={{userService.users[1].photoUrl}}>

                <div *ngIf="!userService.users[1].photoUrl" class="initials">
                    {{userService.users[1] | initials}}
                </div>
            </div>
            <div *ngIf="dialogValue">
                <b>Value From Dialog</b>: {{dialogValue}}
              </div>
            <div class="user-name">
                {{userService.users[1].firstName}}
                {{userService.users[1].lastName}}
            </div>

            <div class="user-exp">
                <span class="exp">
                    EXP:
                </span>
                {{userService.users[1].exp}}
            </div>
        </div>

        <div class="achievement-list">
            <div class="achiv-info" *ngFor="let achievement of achievementService.achievements">
                <img class="achiv-img" [src]="achievement.photoUrl">

                <div class="achiv-name">
                    {{achievement.name}}
                </div>
            </div>
        </div>
    </div>
    <div class="say-thanks-button">
        <button class="btn" mat-button (click)="thanks()">
            SAY THANKS
        </button>
    </div>
</div>