@import "../../../../../assets/const-styles/const-styles.scss";

.app-personal-achievements-container {
    background-color: var(--main-bg-color);
    font-size: 15px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100%;
    width: 100%;
}

.mat-card > :first-child,
.mat-card-content > :first-child {
    margin-top: 5px;
}

.request-button {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: white;
    font-weight: 500;
    margin-right: 25px;
}

.mat-raised-button {
    background-color: #5ea002;
    color: white;
}

.circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;

    img {
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }

    .initials {
        color: white;
        font-size: 20px;
        line-height: 19px;
        letter-spacing: 0.2625px;
    }
}

.display-achiv-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .display-achiv-info {
        font-size: 12px;
        color: white;
    }

    .xp-points {
        color: gold;
        font-size: 12px;
        margin-left: 60px;
    }
}

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
    width: 90%;
    padding: 4% 0;
}

.mat-list-base .mat-list-item .mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    height: inherit;
    padding: 0;
}
