.app-personal-achievements-container {
    background-color: #424750;
    font-size: 15px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100%;
    width: 100%;
}

.mat-card > :first-child,
.mat-card-content > :first-child {
    margin-top: 5px;
}

.request-button {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: white;
    font-weight: 500;
    margin-right: 25px;
}

.mat-raised-button {
    background-color: #5ea002;
    color: white;
}

.circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;

    img {
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }

    .initials {
        color: white;
        font-size: 20px;
        line-height: 19px;
        letter-spacing: 0.2625px;
    }
}
.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
    display: block;
}

.display-achiv-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;

    .display-achiv-info {
        font-size: 12px;
        color: white;
    }

    .xp-points {
        color: #fcf81d;
        font-size: 12px;
        font-weight: 500;
        justify-content: flex-end;
        margin-left: 70px;
    }
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
    height: 48px;
    width: 100%;
    padding: 5px;
}
